 <div class="cbi-value">
	<label class="cbi-value-title"></label>
	<div class="cbi-value-field">
	    <font color='#66FF00'>广告过滤大师使用须知：</font>  
        <br />
		1. 尽量在科学上网环境下更新规则。
		<br />
		2. 过滤HTTPS站点需要为相应设备安装证书，先启用<u><font color='#66FF00'>HTTP + HTTPS</font></u>过滤！
		<br />                    
		3. 在路由器下的设备，不管是电脑，还是移动设备，都可以在浏览器中输入<u><font color='#66FF00'>110.110.110.110</font></u>来下载证书。
		<br />
        	4. 安装完证书请清除浏览器缓存并重启浏览器，如果访问网页弹出不安全提示，请检查证书是否安装正确。
        	<br />
		5. 如果想在多台装有广告过滤大师的路由设备上使用一个证书，请用Winscp软件备份/usr/share/koolproxy/data文件夹，并上传到另一台路由。
        	<br />
        <input type="button" class="cbi-button cbi-input-reload" value="广告过滤大师 交流群" onclick="javascript:window.open('https://t.me/zhinengchaoshenzhe','target');" />                                                             
	</div>
</div>



